@font-face {
    font-family: 'athelasbold_italic';
    src: url('../fonts/athelas-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/athelas-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'athelasregular';
    src: url('../fonts/athelas-regular-webfont.woff2') format('woff2'),
    url('../fonts/athelas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.aboutTitle {
    font-family: "athelasbold_italic";
    font-size: 10vw;
    margin: 0;
    padding-left: 40px;
    padding-top: 40px;
    opacity: .25;
}

.aboutMe {
    font-family: "athelasregular";
    font-size: 4.5vw;
    padding: 40px;
    padding-top: 0px;
    position: relative;
    z-index: 1;
    opacity: .9;
}

