@font-face {
    font-family: 'athelasbold_italic';
    src: url('../fonts/athelas-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/athelas-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'athelasregular';
    src: url('../fonts/athelas-regular-webfont.woff2') format('woff2'),
    url('../fonts/athelas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.contactTitle {
    font-family: "athelasbold_italic";
    font-size: 400%;
    margin: 0;
    padding-left: 40px;
    padding-top: 40px;
    opacity: .25;
}

.contactMe {
    font-family: "athelasregular";
    font-size: 120%;
    padding: 40px;
    padding-top: 0px;
    position: relative;
    z-index: 1;
    opacity: .9;
}

.contactMe > a {
    color: #000;
    text-decoration: none
}