@font-face {
    font-family: 'athelasregular';
    src: url('../fonts/athelas-regular-webfont.woff2') format('woff2'),
    url('../fonts/athelas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'athelasbold_italic';
    src: url('../fonts/athelas-bolditalic-webfont.woff2') format('woff2'),
    url('../fonts/athelas-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navBar {
    font-family: 'athelasregular';
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 110%;

}

.navMenuItem {
    font-family: 'athelasregular';
}